/************************ GAME **********************************************/
#game_world {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0px;
	left: 0px;
	transition: all 2s;
	z-index: 4;
}

#minimap {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0px;
	left: 0px;
    z-index: 4;
}

/* Top panel components */

.status-icon {
	border: 5px solid white;
	height: 40px;
	width: 40px;
}

.flexrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}

#pbar {
	width: 100%;
	height: 30%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#info-bar {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	 /* 3fr; */
	column-gap: 10px;
	row-gap: 10px;
}

#submit {
	position: absolute;
	top: 40%;
	left: 600px;
	display: none;
}

#myscore {
	width: 80px;
	/* position:absolute; */
	/* top:290px; */
	/* width: 600px; */
	/* height: 30px; */
	/* font-size: 30px; */
    /* text-decoration:none; */
    /* text-align:center; */
    /* color: #222222; */
    /* left:0; */
    /* right:0; */
    /* margin:auto; */
}

#acc, #brake{
    width: 80px;
	height: 80px;
	font-size: 60px;
	z-index: 6;
}

#brake-container, #acc-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	vertical-align: middle;
    justify-content: center;
}

#brake.activated {
	border: 20px double #222222;
}

#brake.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

#acc{
	border: 10px dashed #222222;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#acc.activated {
	-webkit-animation-name: spin-fast;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#acc.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

/* message box */
#messagebox{
	position: absolute;
	top: 10%;
	height: 80%;
	left: 10%;
	width: 35%;
	border-radius: 0%;
	transition: all 0.3s;
}

#textmessage{
	margin: auto;
	margin-bottom: 20px;
	text-align:center;
    text-decoration:none;
    /* font-size:28px; */
    font-weight:bold;
}

#ok, #restart, #review{
	/* margin: auto; */
	margin-top: 20px;
	height: 40px;
	width: 100%;
	/* text-align: center; */
	/* vertical-align: middle; */
	/* text-decoration: none; */
	/* font-size: 28px; */
	/* font-weight: bold; */
	/* border: 5px solid #222222; */
	/* z-index: 5; */
    /* cursor: pointer; */
}

#history{
    position:absolute;
    width: 100%;
	height: 100%;
    top: 0px;
	left: 0px;
    z-index: 6;
    transition: 0.5s;
    /* font-size: 20px; */
    border: 5px solid #222222;
    background: #e9e9e9;
}

#scorebox{
	position: absolute;
	margin: auto;
	top: 10%;
	height: 80%;
	right: 10%;
	width: 35%;
	border-radius: 0%;
	transition: all 0.3s;
	/* font-size: 28px; */
	font-weight: bold;
}

.score{
	width: 100%;
}


