/************************ GAME **********************************************/
#game_world {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0px;
	left: 0px;
	transition: all 2s;
	z-index: 4;
}

#minimap {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0px;
	left: 0px;
    z-index: 4;
}

/* Top panel components */

.status-icon {
	height: 40px;
	width: 40px;
}

.flexcol {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}

.flexrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}

#pbar {
	width: 100%;
	height: 30%;
	position: absolute;
	left: 0;
	bottom: 0;
}

#info-bar {
	width: 100%;
	height: 70%;
	position: absolute;
	top: 0%;
	left: 0%;
}

#speedval {
	width: 60px;
}

#timeval {
	width: 50px;
}

#battval {
	width: 55px;
}

#effval {
	width: 80px;
}

#submit {
	position: absolute;
	top: 40%;
	left: 600px;
	display: none;
}

#thanks {
	position: absolute;
	top: 60%;
	left: 600px;
	width: 300px;
	transition: all 1s;
	font-size: 300%;
	color: #ffffff;
}

#myscore {
	position:absolute;
	top:290px;
	width: 600px;
	height: 30px;
	font-size: 30px;
    text-decoration:none;
    text-align:center;
    color: #222222;
    left:0;
    right:0;
    margin:auto;
}


.motor1T{
	position: absolute;
	height: 35px;
	width: 120px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 120px;
	text-align: center;
	font-weight: bold;
/* 	font-family: Arial; */
	font-size: 30px;
}

.motor2T{
	position: absolute;
	height: 35px;
	width: 120px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 150px;
	text-align: center;
	font-weight: bold;
/* 	font-family: Arial; */
	font-size: 30px;
}

#acc, #brake{
    width: 80px;
	height: 80px;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}

#brake-container, #acc-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	vertical-align: middle;
    justify-content: center;
}

#brake.activated {
	border: 20px double #222222;
}

#brake.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

#acc{
	border: 10px dashed #222222;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#acc.activated {
	-webkit-animation-name: spin-fast;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#acc.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

/* message box */
#messagebox{
	position: absolute;
	margin: auto;
	top: 40px;
	left: 20%;
	width: 30%;
	height: 135px;
/* 	border: 10px solid #666666; */
	border-radius: 0%;
	transition: all 0.3s;
	display: none;
}

#textmessage{
	position: relative;
	margin: auto;
	top: 10px;
	left: 0;
	bottom: 0;
	right: 0;
	text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

#ok, #restart{
	position: relative;
	top: 10px;
	margin: auto;
	width: 180px;
	height: 40px;
	display: none;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	border: 5px solid #222222;
	z-index: 5;
    cursor: pointer;
}

#review{
	position: relative;
	top: 10px;
	margin: auto;
	width: 180px;
	height: 40px;
	display: none;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	border: 5px solid #222222;
	z-index: 5;
    cursor: pointer;
}

#history{
    position:absolute;
    top: 0px;
    width: 100%;
    height: 400px;
    display: none;
    z-index: 6;
    transition: 0.5s;
    font-size: 20px;
    border: 5px solid #222222;
    background: #e9e9e9;
}

#scorebox{
	position: absolute;
	margin: auto;
	top: 40px;
	left: 55%;
	width: 30%;
	height: 135px;
	border-radius: 0%;
	transition: all 0.3s;
	font-size: 20px;
	font-weight: bold;
	display: none;
}

.score{
	width: 100%;
}


