
/* div positions */

.left_panel {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 15%;
}
.right_panel {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 15%;
}
.top_panel {
	position: absolute;
	top: 0;
	left: 15%;
	height: 20%;
	width: 70%;
}
.center_panel {
	position: absolute;
	top: 20%;
	left: 15%;
	height: 60%;
	width: 70%;
}
.bottom_panel {
	position: absolute;
	bottom: 0;
	left: 15%;
	height: 20%;
	width: 70%;
}

/* UI types buttons */

.round-button {
    /* display:block; */
	background: white;
    color: black;
    /* width:40px; */
    /* height:40px; */
    border: 5px solid #222222;
    border-radius: 50%;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-attachment: scroll; */
    /* background-size: 70%; */

	/* display: flex; */
	/* align-items: center; */
	/* align-content: center; */
	/* justify-content: center; */

	/* transition: all 0.1s; */
    cursor: pointer;
    z-index: 1;
}

.button {
	display: block;
	background: white;
    color: black;
	border: 5px solid #222222;

	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	cursor: pointer;
    z-index: 1;
}

.button:active, .button:hover, .round-button:active, .round-button:hover {
    /* background: lightgray; */
	background-color: lightgray;
}

/* html elements */

body {
	/* margin: 40px; */
	/* background-color: black; */
	/* color: lightgray; */
	font-size: 3.5vw;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

h1 {
	font-size: 5vw;
   	text-align: center;
}

h2 {
	font-size: 4vw;
   	text-align: center;
}

div {
	font-size: 2vw;
	text-align: center;
	vertical-align: middle;
}

p {
	font-size: 2vw;
	text-align: center;
	vertical-align: middle;
}

/* display/hide based on screen orientation */
.hidden {
	display: none;
}

@media screen and (orientation: portrait)  {
	.landscape {
		display: none;
	}
}

@media screen and (orientation: landscape)  {
	.portrait {
		display: none;
	}
}
