@CHARSET "ISO-8859-1";
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin-fast
{
    0%  {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(360deg);}
    100% {-webkit-transform: rotate(720deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

/************************ general **********************************************/
body {
    margin: 40px;
/*     overflow: hidden; */
/*     font-family: 'Comfortaa', cursive; */
/*     background: rgba(0,0,0,1); */
}
#landscape{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000000;
    color: #FFFFFF;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 1;
/*
    background: url("../images/landscape.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
*/
    font-size: 60px;
    text-align: center;
    line-height: 500px;
}

@media (orientation:landscape) {
    #landscape{
        display: none;
    }
}

.round-button {
    display:block;
    width:120px;
    height:120px;
    border: 20px solid #222222;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    font-size:80px;
    font-weight:bold;
    transition: all 0.1s;
    line-height:120px;
   	position:absolute;
	margin: auto;
    cursor: pointer;
}

.button {
/*	position: absolute;*/
	height: 60px;
	width: 20%;
	border: 5px solid #222222;
	text-align:center;
    text-decoration:none;
    background: #e9e9e9;
    color: #222222;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
    z-index: 1;
}

.button:active, .button:hover {
    background: #222222;
    color: #e9e9e9;
}

#StartScreen {
	position: absolute;
	background: rgba(50,50,50,0.90);
	width: 100%;
	top: 0px;
	height: 100%;
	z-index: 6;
    transition: all 1.3s;
    color: #e9e9e9;
}

#BrakeText {
	position: absolute;
	left: 200px;
	top: 220px;
/* 	color: #999999; */
}

#AccText {
	position: absolute;
	right: 200px;
	top: 220px;
/* 	color: #999999; */
}

h1 {
	padding-top: 0%;
   	font-size: 30px;
   	text-align: center;
/*    	color: #222222; */
/*    	font-family: "Comic Sans MS"; */
}

h2 {
   	font-size: 25px;
   	text-align: center;
/*    	color: #222222; */
/*    	font-family: "Comic Sans MS"; */
}

/************************** register ********************************/
#regframe{
    position:absolute;
    margin: auto;
    left:0;
    right:0;
    top: 10%;
    height: 80%;
    width: 60%;
    border: 5px solid #222222;
}
#title {
    font-size: 40px;
    text-align: center;
    width: 100%;
}
#subtitle {
    font-size: 10px;
    text-align: center;
    width: 100%;
}
#inputframe{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
}
#username {
/*
    position: absolute;
    top: 25px;
    left: 100px;
    height: 40px;
    width: 200px;
    text-decoration:none;
    border: 5px solid #222222;
*/
}
#password {
/*
    position: absolute;
    top: 25px;
    left: 350px;
    height: 40px;
    width: 200px;
    text-decoration:none;
    border: 5px solid #222222;
*/
}
#login {
/*
    position: absolute;
    top: 25px;
    left: 600px;
*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}
#register {
/*
    position: absolute;
    top: 25px;
    left: 850px;
*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#message {
	position:absolute;
	top:10px;
	left: 40%;
	width:60%;
	height: 40px;
	font-size: 40px;
    text-decoration:none;
    text-align:center;
    color: #222222;
    transition: 0.5s;
    z-index: 1;
}



/************************ GAME **********************************************/
#canvas1 {
	position: absolute;
	top: 0px;
	transition: all 2s;
	background: #e9e9e9;
}

#canvasbg {
	position: absolute;
	top: 0px;
	background: #e9e9e9;
    width: 100%;
    height: 40px;
    z-index:1;
}

#wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
}

#data {
	position: absolute;
	width: 100%;
	height: 100%;
/* 	margin-left: 10px; */
/* 	margin-right: 10px; */
	left: 0px;
/* 	background: rgba(255,255,255,0.9); */
	z-index: 5;
}

#timer {
	position: absolute;
	margin: auto;
	width: 40px;
	height: 40px;
	top: 50px;
	left: 0px;
	right: 0px;
/*     border-radius: 50%; */
    text-align:center;
    text-decoration:none;
    font-size:40px;
    font-weight:bold;
    transition: all 0.1s;
    line-height:40px;
	z-index: 5;
/* 	background: #f9f9f9; */
}

#speedval {
	position: absolute;
	margin: auto;
	width: 220px;
	height: 40px;
	top: 60px;
	left: 20px;
    text-align:center;
    text-decoration:none;
    font-size:30px;
    font-weight:bold;
    transition: all 0.1s;
    line-height:20px;
	z-index: 5;
}

#effval {
	position: absolute;
	margin: auto;
	width: 40px;
	height: 40px;
	top: 50px;
	left: 120px;
    text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    transition: all 0.1s;
    line-height:20px;
	z-index: 5;
    display: none;
}

#car_progress {
	position: relative;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
}

#submit {
	position: absolute;
	top: 40%;
	left: 600px;
	display: none;
}

#thanks {
	position: absolute;
	top: 60%;
	left: 600px;
	width: 300px;
	transition: all 1s;
	font-size: 300%;
	color: #ffffff;
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
}

progress[value]::-webkit-progress-bar{
	background-color:transparent;
	border-radius: 5px;
/* 	box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;  */
}

progress[value]::-webkit-progress-value{
	background: #222222;
/* 	background-image: */
/* 		-webkit-linear-gradient(top,  */
/* 								rgba(255,255,255,0.25), rgba(0,0,0,0.25)); */
	border-radius: 2px;
}

#myscore {
	position:absolute;
	top:290px;
	width: 600px;
	height: 30px;
	font-size: 30px;
    text-decoration:none;
    text-align:center;
    color: #222222;
    left:0;
    right:0;
    margin:auto;
}

#battshape{
	position: absolute;
    top: 320px;
    left: 0;
    right: 0;
    margin: auto;
	width: 300px;
    height: 30px;
}

#batttext{
    width: 300px;
}

#outer {
	position: absolute;
	right: 5px;
	top: 0px;
    width: 295px;
    height: 30px;
    border: 2px solid #000;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#battcap {
	position: absolute;
	right: 0px;
	top: 8px;
	width: 5px;
	height: 20px;
	background-color: #000;
}

.inner {
    width: 100%;
    overflow: hidden;
    left: -2px;
    position: absolute;
    border: 2px solid #000;
    border-top-width: 0;
    background-color: #222222;
    bottom: 0;
    height: 100%;
}

.battcons{
	position: absolute;
	height: 35px;
	width: 120px;
	left: 0;
	right: 0;
	margin: auto;
	top: 350px;
	text-align: center;
	font-weight: bold;
/* 	font-family: Arial; */
	font-size: 30px;
}

.motor1T{
	position: absolute;
	height: 35px;
	width: 120px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 120px;
	text-align: center;
	font-weight: bold;
/* 	font-family: Arial; */
	font-size: 30px;
}

.motor2T{
	position: absolute;
	height: 35px;
	width: 120px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 150px;
	text-align: center;
	font-weight: bold;
/* 	font-family: Arial; */
	font-size: 30px;
}

#brake{
	z-index: 6;
}
#brake-container{
	position: absolute;
	top: 280px;
	width: 160px;
	height: 160px;
	left: 200px;
}

#brake.activated {
/*     width:80px; */
/*     height:80px; */
	border: 40px double #222222;
}

#brake.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

#acc{
/* 	background: #e2e760; */
	border: 20px dashed #222222;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index: 6;
}
#acc-container{
	position: absolute;
	top: 280px;
	width: 160px;
	height: 160px;
	right: 200px;

}

#acc.activated {
/* 	box-shadow: 0 0 200px 100px #e2e760; */
/* 	border: 40px dashed #222222; */
    width:120px;
    height:120px;
	-webkit-animation-name: spin-fast;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#acc.locked {
	border-color:#e9e9e9;
	color: #e9e9e9;
}

/* message box */
#messagebox{
	position: absolute;
	margin: auto;
	top: 40px;
	left: 20%;
	width: 30%;
	height: 135px;
/* 	border: 10px solid #666666; */
	border-radius: 0%;
	transition: all 0.3s;
	display: none;
}

#textmessage{
	position: relative;
	margin: auto;
	top: 10px;
	left: 0;
	bottom: 0;
	right: 0;
	text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

#ok, #restart{
	position: relative;
	top: 10px;
	margin: auto;
	width: 180px;
	height: 40px;
	display: none;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	border: 5px solid #222222;
	z-index: 5;
    cursor: pointer;
}

#review{
	position: relative;
	top: 10px;
	margin: auto;
	width: 180px;
	height: 40px;
	display: none;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	font-weight: bold;
	border: 5px solid #222222;
	z-index: 5;
    cursor: pointer;
}

#history{
    position:absolute;
    top: 0px;
    width: 100%;
    height: 400px;
    display: none;
    z-index: 6;
    transition: 0.5s;
    font-size: 20px;
    border: 5px solid #222222;
    background: #e9e9e9;
}

#scorebox{
	position: absolute;
	margin: auto;
	top: 40px;
	left: 55%;
	width: 30%;
	height: 135px;
	border-radius: 0%;
	transition: all 0.3s;
	font-size: 20px;
	font-weight: bold;
	display: none;
}

.score{
	width: 100%;
}


/************************ PLOT RESULTS **********************************************/
path {
    stroke-width: 5px;
    fill: none;
}

.axis path,
.axis line {
	fill: none;
    stroke-width: 2px;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
/* 	font-family: sans-serif; */
	font-size: 10px;
}

#results {
	position: relative;
	width: 100%;
}

.data {
	width: 80%;
	height: 200px;
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
	margin-bottom:20px;
}

.data:hover{
	background: #e9e9e9;
}

#convergence {
    position: relative;
    width: 300%;
    height: 400px;
	margin-top:20px;
	margin-bottom:20px;
}

/************************ DESIGN INTERFACE **********************************************/
#designbutton, #resetbutton, #designed{
	position:absolute;
	right: 0px;
	top: 50px;
	margin: 0px;
	z-index: 5;
    width:40px;
    height:40px;
    border: 10px solid #222222;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    transition: all 0.1s;
}
#designed{
	background: url("../images/ok.png") no-repeat scroll 0 0 transparent;
	background-size: 40px;
}
#designbutton{
	background: url("../images/gear.png") no-repeat scroll 0 0 transparent;
	background-size: 40px;
}
#resetbutton{
	background: url("../images/restart.png") no-repeat scroll 0 0 transparent;
	background-size: 38px;
    right: 80px;
}

#design{
	position: absolute;
	width:100%;
	height:100%;
	z-index: 7;
	background: #e9e9e9;
	display: none;
}

#finaldrive{
	position: absolute;
	left: 100px;
	width: 380px;
	height:100%;
}

#finaldrivetext{
	position: absolute;
	top: 20px;
	font-size: 28px;
	width: 100%;
	height: 50px;
	color: #222222;
	text-align: center;
}

#canvas_gear{
	position: absolute;
	top: 70px;
	width: 380px;
	height: 380px;
}
.sun path {
  stroke: #222222;
  fill: #aaaaaa;
  stroke-width: 10px;
}
.planet path {
  stroke: #222222;
  fill: #aaaaaa;
  stroke-width: 10px;
}



/************************ LEARNING INTERFACE **********************************************/
#status{
    position: absolute;
    width: 100%;
    top: 450px;
    height: 400px;
}

#now{
    position: absolute;
    top: 460px;
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 50px;
    z-index: 1;
}
#statusplot{
    width:100%;
    height:100%;
}
